Checks:          'bugprone-unused-return-value'
WarningsAsErrors: '*'
HeaderFilterRegex: '$PWD/.*'
FormatStyle:     none
CheckOptions:
- key:             bugprone-unused-return-value.CheckedFunctions
  value:           'getuid;getgid;getpid;getppid;fork;open;read;write;close;pipe;mknod;mkfifo'
